<div layout="row">
    <div layout="column" flex="20" class="input-column">
        <h2 class="md-display-1">Add Pet</h2>
        <form ng-submit="vm.addPet()">
            <md-input-container><input type="text" placeholder="Pet Name" ng-model="vm.newPet.name" required></md-input-container>
            <md-input-container><input type="text" placeholder="Pet Color" ng-model="vm.newPet.color"></md-input-container>
            <md-input-container><input type="text" placeholder="Pet Breed" ng-model="vm.newPet.breed"></md-input-container>
            <div layout="row">
                <md-input-container>
                    <md-select ng-model="vm.newPet.owner" placeholder="Select and Owner" required>
                        <md-option ng-repeat="owner in vm.owners" ng-value="{{owner.id}}">{{owner.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <md-input-container>
                <md-button ng-click="vm.addPet()" class="md-raised md-accent md-hue-1">Submit</md-button>
            </md-input-container>
        </form>
    </div>
    <div layout="column" flex="80" class="table-column">
        <h2 class="md-display-1">Pet List</h2>
        <md-input-container>
            <input ng-model="vm.filter" placeholder="filter">
        </md-input-container>
        <table mat-table>
            <thead>
                <tr mat-header-row>
                    <th class="selectable" ng-click="vm.sortPets('owner')">Owner</th>
                    <th class="selectable" ng-click="vm.sortPets('name')">Pet</th>
                    <th class="selectable" ng-click="vm.sortPets('breed')">Breed</th>
                    <th class="selectable" ng-click="vm.sortPets('color')">Color</th>
                    <th class="selectable" ng-click="vm.sortPets('checkedin')">Checked In</th>
                    <th class="selectable" ng-click="vm.sortPets('')">Actions</th>
                </tr mat-header-row>
            </thead>
            <tbody>
                <tr mat-row ng-repeat="pet in vm.pets | filter: vm.filter">
                    <td ng-click="vm.toggleEdit(pet)" ng-hide="pet.editMode" class="selectable">{{pet.owner_name}}</td>
                    <td ng-show="pet.editMode">
                        <md-select ng-model="pet.owner_id" aria-label="owner">
                            <md-option ng-repeat="owner in vm.owners" ng-value="{{owner.id}}">{{owner.name}}</md-option>
                        </md-select>
                        <md-button class="md-primary" ng-click="vm.toggleEdit(pet)" ng-show="pet.editMode">Cancel</md-button>
                        <md-button class="md-primary" ng-click="vm.resubmitPet(pet)" ng-show="pet.editMode">Change
                            Owner</md-button>
                    </td>
                    <td ng-click="vm.editPet(pet, pet.name, 'name')" class="selectable">{{pet.name}}</td>
                    <td ng-click="vm.editPet(pet, pet.breed, 'breed')" class="selectable">{{pet.breed}}</td>
                    <td ng-click="vm.editPet(pet, pet.color, 'color')" class="selectable">{{pet.color}}</td>
                    <td>{{pet.status}}</td>
                    <td>
                        <md-button class="md-primary" ng-click="vm.removePet(pet.id)">Delete</md-button>
                        <md-button class="md-primary" ng-click="vm.checkPet(pet)" ng-hide="pet.checked_in">Check In</md-button>
                        <md-button class="md-primary" ng-click="vm.checkPet(pet)" ng-show="pet.checked_in">Check Out</md-button>
                    </td>
                </tr mat-row>
            </tbody>
        </table mat-table>
    </div>
</div>