<div>
    <h2>Add Pet</h2>
    <form ng-submit="vm.addPet()">
        <input type="text" placeholder="Pet Name" ng-model="vm.newPet.name" required>
        <input type="text" placeholder="Pet Color" ng-model="vm.newPet.color">
        <input type="text" placeholder="Pet Breed" ng-model="vm.newPet.breed">
        <label>Owner: </label>
        <select ng-model="vm.newPet.owner">
            <option ng-repeat="owner in vm.owners" ng-value="{{owner.id}}">{{owner.name}}</option>
        </select>
        <button>Submit</button>
    </form>
    <h2>Pet List</h2>
    <table>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Pet</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Checked In</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pet in vm.pets">
                <td>{{pet.owner_name}}</td>
                <td>{{pet.name}}</td>
                <td>{{pet.breed}}</td>
                <td>{{pet.color}}</td>
                <td>{{pet.status}}</td>
                <td>
                    <button ng-click="vm.removePet(pet.id)">Delete</button>
                    <button ng-hide="pet.checked_in">Check In</button>
                    <button ng-show="pet.checked_in">Check Out</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>