<div layout="row">
    <div layout="column" flex="20">
        <h2>Add Pet</h2>
        <form ng-submit="vm.addPet()">
            <md-input-container><input type="text" placeholder="Pet Name" ng-model="vm.newPet.name" required></md-input-container>
            <md-input-container><input type="text" placeholder="Pet Color" ng-model="vm.newPet.color"></md-input-container>
            <md-input-container><input type="text" placeholder="Pet Breed" ng-model="vm.newPet.breed"></md-input-container>
            <div layout="row">
                <label>Owner: </label>
                <md-input-container><select ng-model="vm.newPet.owner"></md-input-container>
                    <option ng-repeat="owner in vm.owners" ng-value="{{owner.id}}">{{owner.name}}</option>
                </select>
            </div>
            <md-input-container><button>Submit</button></md-input-container>
        </form>
    </div>
    <div layout="column" flex="80">
        <h2>Pet List</h2>
        <table>
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Pet</th>
                    <th>Breed</th>
                    <th>Color</th>
                    <th>Checked In</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pet in vm.pets">
                    <td ng-click="vm.toggleEdit(pet)" ng-hide="pet.editMode">{{pet.owner_name}}</td>
                    <td ng-show="pet.editMode">
                        <select ng-model="pet.owner_id">
                            <option ng-repeat="owner in vm.owners" ng-value="{{owner.id}}">{{owner.name}}</option>
                        </select>
                    </td>
                    <td ng-click="vm.editPet(pet, pet.name, 'name')">{{pet.name}}</td>
                    <td ng-click="vm.editPet(pet, pet.breed, 'breed')">{{pet.breed}}</td>
                    <td ng-click="vm.editPet(pet, pet.color, 'color')">{{pet.color}}</td>
                    <td>{{pet.status}}</td>
                    <td>
                        <button ng-click="vm.removePet(pet.id)" ng-hide="pet.editMode">Delete</button>
                        <button ng-click="vm.checkPet(pet)" ng-hide="pet.checked_in">Check In</button>
                        <button ng-click="vm.checkPet(pet)" ng-show="pet.checked_in">Check Out</button>
                        <button ng-click="vm.toggleEdit(pet)" ng-show="pet.editMode">Cancle</button>
                        <button ng-click="vm.resubmitPet(pet)" ng-show="pet.editMode">Change Owner</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>