<div class="table-column" layout="column">
    <h2 class="md-display-1">History</h2>
    <md-input-container>
        <input ng-model="vm.filter" placeholder="filter">
    </md-input-container>
    <table>
        <thead>
            <tr>
                <th class="selectable" ng-click="vm.sortHistory('owner')">Owner</th>
                <th class="selectable" ng-click="vm.sortHistory('pet')">Pet</th>
                <th class="selectable" ng-click="vm.sortHistory('checkin')">Checked In</th>
                <th class="selectable" ng-click="vm.sortHistory('checkout')">Checked Out</th>
                <th class="selectable" ng-click="vm.sortHistory('')">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="visit in vm.visits | filter : vm.filter">
                <td>{{visit.owner}}</td>
                <td>{{visit.pet}}</td>
                <td>{{visit.in}}</td>
                <td>{{visit.out}}</td>
                <td>
                    <md-button class="md-primary" ng-click="vm.deleteItem(visit)">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>