<div layout="row">
    <div layout="column" flex="20" class="input-column">
        <h2 class="md-display-1">Add Owner</h2>
        <form ng-submit="vm.addOwner(vm.newName)">
                <md-input-container><input type="text" placeholder="Owner name" ng-model="vm.newName" required></md-input-container>
            <md-input-container>
                <md-button ng-click="vm.addOwner(vm.newName)" class="md-raised md-accent md-hue-1">Submit</md-button>
            </md-input-container>
        </form>
    </div>
    <div layout="column" flex="80" class="table-column">
        <h2 class="md-display-1">Owners</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Pets</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in vm.owners">
                    <td ng-click="vm.editOwner(owner)">{{owner.name}}</td>
                    <td>{{owner.count}}</td>
                    <td><md-button class="md-primary" ng-click="vm.removeOwner(owner)">Delete</md-button class="md-fab"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>